.main-body-container{
  background: #00000003;
  .heading{
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: 0.01875rem;
  }
  .sub-heading{
    font-weight: 300;
    font-size: 1.2rem;
    letter-spacing: 0.01875rem;
  }
  .content{
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.01875rem;
  }
  .special-content{
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.01875rem;
  }
  .small-content{
    font-weight: 300;
    font-size: 0.5rem;
    letter-spacing: 0.01875rem;
  }
  .text-left{
    text-align: left;
  }
  .text-right{
    text-align: right;
  }
  .text-center{
    text-align: center;
  }
  .individual-section-container{
    font-family: 'Lato', sans-serif;
    padding: 2% 0;
    text-align: left;
    // .heading-container{
    //   padding: 3% 0;
    //   filter: drop-shadow(3px 3px 4px rgba(0, 0, 0, 0.2));
    //   .sub-heading{
    //     background:linear-gradient(90deg, #000000, #19264f);
    //     color: white;
    //     padding: 1% 7% 1% 1%;
    //     clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
    //   }
    // }
  }
  .header{
    // display: none;
    background:linear-gradient(90deg,#19264f, #000000);
    .logo-container{
      padding: 15% 25% 12% 25%;
      .logo{
        background-image: url('assets/images/logo.png');
        background-repeat: no-repeat;
        width: 100%;
        background-size: cover;
        padding-top: 8%;
      }
    }  
  }
  .navigation-container{
    // display: none;
    margin: 0;
    position: relative;
    background: linear-gradient(90deg,#19264f, #000000 );
    color: white;
    -webkit-box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.1);
    padding: 2% 0;
    text-align: right;
    @media only screen and (min-width: 1px) and (max-width: 767px) {
      .sub-heading{
        font-size: 1rem;
        padding: 3% 0;
      }
     
    }
    .nav-menu-row{
      display: table;
      width: 100%;
      .nav-menu{
        margin: 0;
        display: table-cell;
        cursor:pointer;
        opacity: 1;
        width: 20%;
        vertical-align: middle;
        text-align: center;
      }
      .nav-menu:hover{
        opacity: 0.6;
      }
    } 
    .nav-menu-identidier{
      position: absolute;
      bottom: 0%;
      left: 0;
      content: '';
      width: 20%;
      height: 0.3125rem;
      border-radius: 0.625rem;
      opacity: 0.7;
      background-color: #ff6000;
    }
  }
  .navigation-container::after{
    content: '';
    width: 100%;
    height: 2px;
    bottom: -2px;
    background: white;
    position: absolute;
    left: 0;
  }
  .body-container{
    padding: 0%;
    .hashtag-container{
      // display: none;
      text-align: center;
      padding: 5% 0;
      .hashtag{
        font-weight: 700;
        color: #19264F;
        opacity: 0.9;
      }
    }
    .arrow-container{
      // display: none;
      text-align: center;
      color: white;
      font-size: 2rem;
      padding: 0.375rem 0;
      .arrow{
        border-style: solid;
        border-color: #19264F;
        padding: 0.3125rem 0.9375rem;
        border-radius: 50%;
        cursor: pointer;
        border-width: 2px;
        color: #19264F;
      }
      .arrow:hover{
        opacity: 0.9;
      }
      @media only screen and (min-width: 1px) and (max-width: 767px) {
        display: none;
      }
    }
  }
  .launched-products-container{
    position: relative;
    .heading-container{
      padding: 5% 2% ;
      text-align: center;
      // background: linear-gradient( 135deg,  #19264f, #050813);
      background: #362965;
      color: white;
      position: relative;

    }
    .content{
      padding: 2% 0;
      text-align: left;
      line-height: 2;
    }
    .small-content{
      text-align: center;
    }
    .product-container-row{
      // display: none;
      transform: translateY(-10%);
      @media only screen and (min-width: 1px) and (max-width: 767px) {
        transform: translateY(-1%);
      }
      .product-container{
        position: relative;
        z-index: 2;
        background: white;
        box-shadow: 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.1);
        width:90%;
        margin: 0 auto;
        padding: 2%;
        text-align: center;
        transform: scale(0.9,0.9);
        .product-icon-container{
          padding: 12% 30%;
          .icon{
            width:100%;
            padding-top:100%;
            border-radius: 50%;
          }
          .icon-one{
            background: url('assets/images/car.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .icon-two{
            background: url('assets/images/book.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .icon-three{
            background: url('assets/images/hat.jpg');
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
        .special-content{
          font-size: 1rem;
          padding: 5% 0;
          // color:white;
          @media only screen and (min-width: 1px) and (max-width: 767px) {
            font-size: 1.25rem;
          }
        }
        .content{
          padding: 7%;
          // color: white;
          line-height: 2.3;
          font-size: 0.65rem;
          @media only screen and (min-width: 1px) and (max-width: 767px) {
            font-size: 1rem;
          }
        }
        .small-content{
          // color:white;
          padding: 5% 0;
          font-size: 0.5rem;
          @media only screen and (min-width: 1px) and (max-width: 767px) {
            font-size: 0.75rem;
          }
        }
        .available-container-row{
          width: 100%;
          padding: 0 0 14% 0;
          .available-container{
            width:33%;
            font-size: 20px;
            // color: white;
            float: left;
          }
        }
      }
      .product-one{
        opacity: 0;
        color: black;

        // background: linear-gradient( 135deg, #00dbf1, #251388);
      }
      .product-two{
        opacity: 0;
        color: #c89770;
        box-shadow: 0 0.25rem 0.5625rem 0 rgba(0, 0, 0, 0.1);
        // background: linear-gradient( 135deg, #8c8c8c, #000000);
      }
      .product-three{
        opacity: 0;
        color: #969c3b;
        // background: linear-gradient( 135deg,  #ff4343, #380361);
      }
    }
  }
  .opportunities-container{
    .opportunities-image-container{
      background-image: url('assets/images/workspace.png');
      background-repeat: no-repeat;
      width: 100%;
      background-size: cover;
      padding-top: 36%;
      position: relative;
    }
    .opportunities-image-container::after{
      position: absolute;
      content: '';
      top: 0;
      opacity: 0.8;
      left: 0;
      height: auto;
      width: 100%;
      padding-top: 36%;
      background: linear-gradient(180deg, #00000038, #000000);
    }
    .description-container{
      position: absolute;
      width: 100%;
      top:50%;
      transform: translateY(-50%);
      left:0%;
      color: white;
      text-align: center;
      .description-content{
        width:0%;
        margin: 0 auto;
        border-style: solid;
        border-top: none;
        border-bottom: none;
        border-width: 1px;
        padding: 2% 0;
        transform: scale(0.1);
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        .sub-heading{
          position: absolute;
          left: 0%;
          padding: 0 1%;
          width: 100%;
        }
        .content-one{
          top:50%;
          transform: translateY(-50%);
        }
        .content-two{
          top:100%;
        }
      }
    }
    .social-feed-container{
      opacity: 0;
      position: absolute;
      width: 100%;
      bottom: 11%;
      left:0;
      text-align: center;
      .social-feed-content{
        width: 21%;
        margin: 0 auto;
        color: white;
        .small-content{
          font-size: 0.75rem;
          padding-bottom: 8%;
        }
        .social-icon-container{
          width: 33%;
          float: left;
          .social-icon-content{
            width: 40%;
            padding-top: 40%;
            margin: 0 auto;
            background: white;
            color: black;
            opacity: 0.6;
            position: relative;
            border-radius: 50%;
            cursor: pointer;
            .social-icon{
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%)translateY(-50%);
            }
          }
        }
      }
    }
  }
}
