<div class="main-body-container" (scroll)="scrollHandler($event)">
  <div class="header" #header>
    <div class="logo-container" #logoContainer>
      <div class="logo" #logo>
      </div>
    </div>
  </div>
  <div class="navigation-container" #navigationContainer [@animationState]="navMenuState">
    <div class="nav-menu-row">
      <div class="sub-heading nav-menu text-left" (click)="scroll(header)">
        HOME
      </div>
      <div class="sub-heading nav-menu" (click)="scroll(launchedProductsContainer)">
        OUR PRODUCTS
      </div>
      <div class="sub-heading nav-menu">
        TECHNOLOGIES
      </div>
      <div class="sub-heading nav-menu" (click)="scroll(opportunitiesContainer)">
        OPPORTUNITIES
      </div>
      <div class="sub-heading nav-menu">
        REACH US
      </div>
    </div>
    <div class="nav-menu-identidier" [@animationState]="navMenuIdentifierState">
    </div>
  </div>
  <div class="dummy-nav-placeholder"></div>
  <div class="body-container" #bodyContainer>
    <div class="hashtag-container">
      <span class="content">We have the best solutions for all your problems. Cuz we breathe code
        <span class="hashtag">#breatheCode</span>
      </span>
    </div>
    <div class="arrow-container" (click)="scroll(launchedProductsContainer)">
      <span class="arrow">
        <i class="fas fa-angle-down"></i>
      </span>
    </div>

    <div class="container12">
      <div class="individual-section-container launched-products-container" #launchedProductsContainer>
        <div class="heading-container">
          <div class="special-content">AVAILABLE IN OUR STORES</div>
          <div class="content">
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </div>
        </div>
        <div class="row product-container-row" #productContainerRow>
          <div class="column4">
            <div class="product-container product-one" [@animationState]= productContainerOneViewState>
              <div class="product-icon-container">
                <div class="icon icon-one"></div>
              </div>
              <div class="special-content">
                LIFE HACKS
              </div>
              <div class="content">
                Quisque volutpat diam nec egestas fermentum. Donec id sapien semper, auctor ligula vel, suscipit lorem. Vivamus turpis est,
                pellentesque nec porttitor id, aliquam vitae urna. Sed eget ex ac quam sodales rutrum id a elit.
              </div>
              <div class="small-content">AVAILABLE ON</div>
              <div class="available-container-row">
                <div class="available-container">
                  <span>
                    <i class="fas fa-globe-americas"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-app-store-ios"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-google-play"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="column4">
            <div class="product-container product-two" [@animationState]= productContainerTwoViewState>
              <div class="product-icon-container">
                <div class="icon icon-two"></div>
              </div>
              <div class="special-content">
                MY NOTES
              </div>
              <div class="content">
                Quisque volutpat diam nec egestas fermentum. Donec id sapien semper, auctor ligula vel, suscipit lorem. Vivamus turpis est,
                pellentesque nec porttitor id, aliquam vitae urna. Sed eget ex ac quam sodales rutrum id a elit.
              </div>
              <div class="small-content">AVAILABLE ON</div>
              <div class="available-container-row">
                <div class="available-container">
                  <span>
                    <i class="fas fa-globe-americas"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-app-store-ios"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-google-play"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="column4">
            <div class="product-container product-three" [@animationState]= productContainerThreeViewState>
              <div class="product-icon-container">
                <div class="icon icon-three"></div>
              </div>
              <div class="special-content">
                HAT HACKER
              </div>
              <div class="content">
                Quisque volutpat diam nec egestas fermentum. Donec id sapien semper, auctor ligula vel, suscipit lorem. Vivamus turpis est,
                pellentesque nec porttitor id, aliquam vitae urna. Sed eget ex ac quam sodales rutrum id a elit.
              </div>
              <div class="small-content">AVAILABLE ON</div>
              <div class="available-container-row">
                <div class="available-container">
                  <span>
                    <i class="fas fa-globe-americas"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-app-store-ios"></i>
                  </span>
                </div>
                <div class="available-container">
                  <span>
                    <i class="fab fa-google-play"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container12 individual-section-container opportunities-container" #opportunitiesContainer>
      <div class="opportunities-image-container">
      </div>
      <div class="description-container">
        <div class="description-content" [@animationState]="opportunitiesDescriptionContentState">
          <span class="sub-heading content-one" [@animationState]="opportunitiesContentOneState">You think this is your dream workspace?</span>
          <span class="sub-heading content-two" [@animationState]="opportunitiesContentTwoState">Hurray! We are growing and we need more to join us!</span>
        </div>
      </div>
      <div class="social-feed-container" [@animationState]="socialFeedContainerState">
        <div class="social-feed-content">
          <div class="small-content">
            For more information, follow us on
          </div>
          <div class="social-icon-container">
            <div class="social-icon-content">
              <i class="fab fa-facebook-f social-icon"></i>
            </div>
          </div>
          <div class="social-icon-container">
            <div class="social-icon-content">
              <i class="fab fa-linkedin-in social-icon"></i>
            </div>
          </div>
          <div class="social-icon-container">
            <div class="social-icon-content">
              <i class="fab fa-twitter social-icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>