/* You can add global styles to this file, and also import other style files */

html{
  font-size: 16px;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html{font-size: 8px;}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  html{font-size: 12px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html{font-size: 14px;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html{font-size: 16px;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html{font-size: 16px;}
}
